<div class="container" style='width: 100vw; padding: 0;'>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">

  <div id="map" style='height: 25em;'>

  </div>

  <div id="duration"></div> 
  <div id="distance"></div> 
  <div id="taxi-dis"></div> 
</div>

<script>
  TaxiDirections();
</script>