<div class="container" style='width: 100vw; padding: 0;'>

  <div id="map" style='height: calc(100vh - 80px);'>

  </div>

  <div class="panel panel-default col-md-5 panel-taxi" id="parque-panel">
    <div class="panel-body" id="parque" >

    </div>
  </div>


</div>

<script>
  ParkingLots();
  setInterval( function(){ updatePosition() } , 300);
</script> 