

<!--p id="notice"><%= notice %></p-->

<!--h1>Listing Parking Garages</h1-->

  <div class="container" style="width: 100vw; padding: 0"> <!--style='width: calc(100vw - 300px); padding: 0;'-->
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    

    <div class="panel panel-default col-md-3 panel-taxi" id="taxi">
      <div class="panel-body">
        <div id="parqueo"></div>
        <div id="duration"></div> 
        <div id="distance"></div>
        <div id="taxi-dis"></div>
      </div>
    </div>


    <div id="map" style='height: calc(100vh - 80px);'></div>

    


  </div>


<script>
  ParkingLots();
  TaxiDirections();
</script> 

<!-- <table>
  <thead>
    <#% @parking_garages.each do |parking_garage| %>
      <tr>
        <td><%#= parking_garage.latitude %></td>
        <td><%#= parking_garage.longitude %></td>
      </tr>
    <#% end %>
  </thead>

  <tbody>
    <#% @parking_garages.each do |parking_garage| %>
      <tr>
        <td><%#= link_to 'Show', parking_garage %></td>
        <td><%#= link_to 'Edit', edit_parking_garage_path(parking_garage) %></td>
        <td><%#= link_to 'Destroy', parking_garage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <#% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Parking garage', new_parking_garage_path %> -->
